/* nav specialized to landing page */
.logo {
  background-size: contain;
  margin: 1rem 0 0 1rem;
}

#mainWrapper {
  max-width: 1300px; /* or whatever width you prefer */
  margin-left: auto;
  margin-right: auto;
}

body {
  backdrop-filter: blur(8px) brightness(0.5);
  overflow-x: hidden;
}

#backgroundBlur {
  position: fixed;
  top: -10%;   /* extend beyond viewport */
  right: -10%;
  bottom: -10%;
  left: -10%;
  z-index: -1; 
  max-height: 100%;

  background-position: center 10%;  /* adjusts to crop the top part */
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px) brightness(0.4);
  transition: background-image 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

/* hero section */
.hero {
  text-align: center;
  padding: 2rem 0 10rem 0;
  margin-bottom: 1rem;
}

.hero__title {
  font-size: 3em;
  font-weight: 900;
  font-family: rsfont;
  color: var(--primary-color);
}

.hero__description {
  margin: -1rem auto 2rem auto;
}

.hero__terminal {
  width: 95%;  /* 90% of the wrapper's width. This makes it slightly smaller than the phone frame, so you can see the edges of the phone. */
  height: calc((50vw * .95) * 9 / 20);  /* Maintaining the 9:20 aspect ratio, based on 90% of the wrapper's width. */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;  /* This allows us to position the screenshot within the phone frame. */
  top: 50%;  /* Start positioning from the center of the wrapper. */
  left: 50%;  /* Also from the center of the wrapper. */
  transform: translate(-50%, -50%) translate3d(0, 0, 0); 
  color: white;
  animation: fadeUp 1s;
  border-radius: 4px;
  box-shadow: 0px 12px 36.8px 9.2px rgba(0, 0, 0, 0.1);
}


.hero__terminal-wrapper {
  width: 50vw; 
  height: calc(50vw * 1 / 2.174);
  margin: -11rem auto 3rem auto;
  background-image: url("../img/phoneframe.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: left;
  position: relative;  /* This is key to allow child elements to be positioned absolutely in relation to this container */
  color: white;
  padding: 0 1rem;
  border-radius: 4px;
  box-shadow: 0px 12px 36.8px 9.2px rgba(0, 0, 0, 0.1);
}


.carousel-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.carousel-slide:first-child {
  opacity: 1; /* initially display the first slide */
}

.carousel-indicators {
  position: absolute;
  bottom: 10px; /* adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px; /* space between dots */
}

.carousel-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.carousel-dot.active {
  background-color: white;
}


.hero__terminal pre {
  white-space: pre-line;
  padding-top: 1rem;
}

/* feature section */
.feature {
  display: flex;
  flex-wrap: wrap;
}

.feature__item {
  max-width: calc(33% - 20px);
  margin: 0 20px 0 0;
}

.feature__item .section__title {
  margin-bottom: 0;
}

.feature__item p {
  margin-top: 0.5rem;
}

/* keybinding section */
.keybinding {
  margin-top: 3rem;
  display: flex;
}

.keybinding__detail {
  position: relative;
  border: 1px solid var(--code-bg-color);
  flex-basis: 50%;
  padding: 2rem 1rem 1rem 1rem;
  list-style: none;
  line-height: 2rem;
}

.keybinding__detail:first-child {
  text-align: right;
  padding-right: 1rem;
}

.keybinding__detail:last-child {
  padding-left: 1rem;
  margin-left: -1px;
}

.keybinding__detail:first-child .keybinding__title {
  position: absolute;
  right: 0.5rem;
  top: -2rem;
  background-color: var(--code-bg-color);
  color: var(--white-color);
  padding: 0 0.5rem;
}

.keybinding__detail:last-child .keybinding__title {
  color: var(--white-color);
  position: absolute;
  left: 0.5rem;
  top: -2rem;
  background-color: var(--code-bg-color);
  padding: 0 0.5rem;
}

.keybinding__label {
  background: var(--code-bg-color);
  border: 1px solid var(--light-gray-color);
  box-shadow: 0 1px 0 0 var(--medium-gray-color);
  border-radius: 3px;
  font-family: Courier;
  font-size: 0.7rem;
  color: var(--dark-gray-color);
  padding: 3px 3px 1px 3px;
  vertical-align: middle;
}

/* callout section */
.callout {
  text-align: center;
  padding: 1rem 0 3rem 0;
}

.callout .button--primary {
  display: inline-block;
  margin-top: 0.5rem;
}

/* changelog section */
.changelog {
  border-radius: 8px 8px 0px 0px;
  background-color: var(--bg-color);
  padding: 2rem 0;
  box-shadow: 1px 8px 8px black;
}

.changelog__item {
  display: flex;
}

.changelog__meta {
  flex-basis: 25%;
}

.changelog__meta small {
  color: var(--primary-color-light);
  font-weight: 200;
  letter-spacing: 1px;
}

.changelog__title {
  margin-bottom: 0;
}

.changelog__callout {
  margin: 3rem auto 2rem auto;
  text-align: center;
}

@media (max-width: 750px) {
  .tab__container > ul {
    right: auto;
    left: 0;
    padding-left: 0;
  }
  .tab__container .code {
    margin-top: 2rem;
  }
  .feature, .keybinding, .changelog__item {
    flex-direction: column;
  }
  .feature__item {
    max-width: 100%;
    margin: 0;
  }
  .keybinding {
    font-size: 0.8rem;
  }
}